
<div class="map-editor-container">
  <div class="tool-container"></div>
  <div class="map-editor" id="map-editor">
  </div>
</div>

<%= render :partial => 'layouts/modals' %>

<%= render :partial => 'layouts/scripts' %>

<script type="text/javascript">
    var map = new ol.Map({
        target: 'map-editor',
        layers: [
            new ol.layer.Tile({
                source: new ol.source.MapQuest({layer: 'sat'})
            })
        ],
        view: new ol.View({
            center: ol.proj.fromLonLat([37.41, 8.82]),
            zoom: 4
        })
    });
</script>