<div class="map-editor" id="map-editor" data-react-props="<%= {:source => "/map_drawer/map?id=#{@id}", :extent => @map.extent, :center => @map.center}.to_json %>">
</div>
<div id="drawer">
  <div class="tool-container" id="map-tool"></div>
</div>

<% content_for :react do %>
    <script src="/js/drawer.js"></script>
<% end %>

<%= render :partial => 'layouts/modals' %>

<%= render :partial => 'layouts/scripts' %>
