
<div class="map-editor-container">
  <div class="tool-container"></div>
  <div class="map-editor" id="map-editor">
  </div>
</div>

<%= render :partial => 'layouts/modals' %>

<%= render :partial => 'layouts/scripts' %>
