<div class="modal fade" id="openFileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">打开文件</h4>
      </div>
      <form id="mapUploader" action="/karte/upload" method="post" enctype="multipart/form-data">
      <div class="modal-body">

          <div class="form-group">
            <label for="uploadFile">选择本地文件</label>
            <input type="file" id="uploadFile" accept=".dxf,.json,.kml" name="file">
            <p class="help-block ng-binding">支持的格式：ShapeFile 格式(.shp), GeoJson 格式(.json), KML 格式(.kml), AutoCad DXF 格式(.dxf)</p>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <input type="submit" class="btn btn-primary">
      </div>
      </form>
    </div>
  </div>
</div>