<!DOCTYPE html>
<html>
<head>
  <title>地形图绘制系统</title>
  <link rel="stylesheet" href="/AdminLTE2/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/AdminLTE2/dist/css/skins/skin-red-light.min.css">
  <link rel="stylesheet" href="/AdminLTE2/plugins/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/AdminLTE2/dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/AdminLTE2/ol3/ol.css">
  <link rel="stylesheet" href="/AdminLTE2/dist/css/karte.css">
  <script src="/js/common.js"></script>
  <script src="/js/header.js"></script>
  <%= csrf_meta_tags %>
</head>
<body class="skin-red-light">
<div class="content-wrapper">
  <%= yield %>
</div>
</body>
</html>
