<!DOCTYPE html>
<html>
<head>
  <title>等高线绘制系统</title>
  <link rel="stylesheet" href="/css/antd.css">
  <link rel="stylesheet" href="/AdminLTE2/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/AdminLTE2/dist/css/skins/skin-blue-light.min.css">
  <link rel="stylesheet" href="/AdminLTE2/plugins/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/AdminLTE2/dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/AdminLTE2/ol3/ol.css">
  <link rel="stylesheet" href="/css/karte.css">
  <script src="/js/common.js"></script>

  <%= csrf_meta_tags %>
</head>
<body class="skin-blue-light">
<div id="header">
</div>
<div id="alert"></div>
<div class="content-wrapper">
  <%= yield %>
</div>

<%= yield :react %>
</body>
</html>
