<!DOCTYPE html>
<html>
<head>
  <title>地形图绘制系统</title>
  <link rel="stylesheet" href="/AdminLTE2/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/AdminLTE2/dist/css/skins/skin-blue-light.min.css">
  <link rel="stylesheet" href="/AdminLTE2/plugins/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/AdminLTE2/dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/css/home.css">
  <script src="/js/common.js"></script>
  <%= csrf_meta_tags %>
</head>
<body class="skin-blue-light">
<div id="header">

</div>

<div class="content-wrapper">
  <div id="sidebar"></div>
  <%= yield %>
</div>
<script src="/js/header.js"></script>
<script src="/AdminLTE2/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<script src="/AdminLTE2/bootstrap/js/bootstrap.min.js"></script>
<script src="/AdminLTE2/dist/js/app.min.js"></script>
<%= yield :react %>
</body>
</html>
